# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/*
web-build/
android/java_pid16284.hprof
android/java_pid26324.hprof
.vs/SeniorDesign/v16/Browse.VC.opendb
.vs/SeniorDesign/v16/Browse.VC.db-wal
.vs/SeniorDesign/v16/Browse.VC.db-shm
.vs/SeniorDesign/v16/Browse.VC.db
android/java_pid16068.hprof
android/java_pid16316.hprof
node_modules/kind-of/README.md
node_modules/kind-of/package.json
node_modules/kind-of/LICENSE
node_modules/kind-of/index.js
node_modules/isobject/README.md
node_modules/isobject/package.json
node_modules/isobject/LICENSE
node_modules/isobject/index.js
node_modules/isobject/index.d.ts
node_modules/is-plain-object/README.md
node_modules/is-plain-object/package.json
node_modules/is-plain-object/LICENSE
node_modules/is-plain-object/index.js
node_modules/is-plain-object/index.d.ts
node_modules/is-extendable/README.md
node_modules/is-extendable/package.json
node_modules/is-extendable/LICENSE
node_modules/is-extendable/index.js
node_modules/for-in/README.md
node_modules/for-in/package.json
node_modules/for-in/LICENSE
node_modules/for-in/index.js
ios/gMapsTutorial.xcodeproj/project.pbxproj
android/java_pid9168.hprof
android/java_pid15612.hprof
.vs/slnx.sqlite
.vs/SeniorDesign/v16/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
